* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
.container2 {
  width: 70%;
  display: flex;
  align-items: center;
  text-align: center;
}

.column1 {
  width: 35%;
  height: 60vh;
  background-color: rgb(255, 255, 255);
  box-shadow: -10px 10px 5px rgba(109, 108, 108, 0.5);
  border-radius: 2px solid;
  border-color: black;
  align-items: center;
}

.column2 {
  width: 24%;
  height: 60vh;
  background-color: rgb(161, 31, 31);
  box-shadow: 0px 10px 5px rgba(109, 108, 108, 0.5);
}
.img2 {
  width: 40px;
  margin-top: 11px;
  margin-left: 3%;
}
input {
  border-radius: 3px;
}

.regbtn {
  background-color: rgb(161, 31, 31);
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(77, 77, 77);
  padding: 10px 60px 10px 60px;
  font-size: 14px;
  border-radius: 30px;
  margin: 22px 7px 0 11px;
  border: none;
  box-shadow: -5px 5px 5px rgba(109, 108, 108, 0.5);
  transition: 0.5s;
  outline: none;
}
.regbtn:hover {
  background-color: rgb(216, 108, 108);
  color: white;
  transform: rotate(0deg) skew(3deg, 3deg) translate(0px, 0px);
}

.txt1 {
  margin-top: 30px;
  margin: 0px 0px 0px 85px;
  border-color: rgb(216, 108, 108);
  color: rgb(105, 104, 104);
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: -5px 5px 5px rgba(109, 108, 108, 0.5);
  margin: 28px 0px 0px 7px;
  outline: none;
}
.txt2 {
  margin-top: 35px;
  margin: 0px 0px 0px 85px;
  border-color: rgb(216, 108, 108);
  color: rgb(105, 104, 104);
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: -5px 5px 5px rgba(109, 108, 108, 0.5);
  margin: 20px 0px 0px 7px;
  outline: none;
}
.txt3 {
  margin: 0px 0px 0px 82px;
  border-color: rgb(156, 100, 100);
  color: rgb(105, 104, 104);
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: -5px 5px 5px rgba(109, 108, 108, 0.5);
  margin: 20px 0px 0px 7px;
  outline: none;
}
.p2 {
  color: #fff;
  font-size: 15px;
  margin-top: 50%;
}
.p3 {
  color: #fff;
  font-size: 15px;
  margin-top: 50%;
}
.Login {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
